@font-face {
  font-family: "ts-icon"; /* Project id 2333202 */
  src: url('../fonts/index.woff2?t=1625018618988') format('woff2'),
       url('../fonts/index.woff?t=1625018618988') format('woff'),
       url('../fonts/index.ttf?t=1625018618988') format('truetype');
}

.ts-icon {
  font-family: "ts-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ts-icon-box:before {
  content: "\e6a1";
}

.ts-icon-avatar:before {
  content: "\e645";
}

.ts-icon-avatar-female:before {
  content: "\e661";
}

.ts-icon-download:before {
  content: "\e60c";
}

.ts-icon-refresh:before {
  content: "\e61a";
}

.ts-icon-shadow:before {
  content: "\e6ec";
}

.ts-icon-topology:before {
  content: "\e633";
}

.ts-icon-delete:before {
  content: "\e610";
}

.ts-icon-edit:before {
  content: "\e603";
}

.ts-icon-lock:before {
  content: "\e637";
}

.ts-icon-unlock:before {
  content: "\e631";
}

.ts-icon-ban-view:before {
  content: "\e6a4";
}

.ts-icon-view:before {
  content: "\e66c";
}

.ts-icon-tubiaoshangshengqushi:before {
  content: "\e790";
}

.ts-icon-regex:before {
  content: "\e647";
}

.ts-icon-hexadecimal:before {
  content: "\e609";
}

.ts-icon-data-generate:before {
  content: "\e638";
}

.ts-icon-crypt:before {
  content: "\e62f";
}

.ts-icon-timestamp:before {
  content: "\e996";
}

.ts-icon-json:before {
  content: "\e642";
}

.ts-icon-weixin:before {
  content: "\e665";
}

.ts-icon-QQ1:before {
  content: "\e60b";
}

.ts-icon-weibo1:before {
  content: "\e619";
}

.ts-icon-QQkongjian:before {
  content: "\e60f";
}

.ts-icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.ts-icon-fangwen:before {
  content: "\e644";
}

.ts-icon-dianzan:before {
  content: "\e656";
}

.ts-icon-fangwenliang:before {
  content: "\e634";
}

.ts-icon-xinyonghu:before {
  content: "\e6b2";
}

.ts-icon-liuyan:before {
  content: "\e60d";
}

.ts-icon-53pinglun-:before {
  content: "\e630";
}

.ts-icon-combinedshapecopy2:before {
  content: "\e652";
}

.ts-icon-wenzhang:before {
  content: "\e639";
}

.ts-icon-wodepinglun:before {
  content: "\e66b";
}

.ts-icon-duoyuyan:before {
  content: "\e654";
}

.ts-icon-yuyanyingwen:before {
  content: "\e600";
}

.ts-icon-yuyanzhongwen:before {
  content: "\e601";
}

.ts-icon-Vue:before {
  content: "\e799";
}

.ts-icon-wenzhangguanli:before {
  content: "\e628";
}

.ts-icon-file-markdown:before {
  content: "\e72c";
}

.ts-icon-markdown:before {
  content: "\e673";
}

.ts-icon-weibiaoti11:before {
  content: "\e61d";
}

.ts-icon-location:before {
  content: "\e611";
}

.ts-icon-shouye:before {
  content: "\e606";
}

.ts-icon-quanping:before {
  content: "\e640";
}

.ts-icon-sousuo:before {
  content: "\e608";
}

